.page-header {
  display: flex;
  margin: auto;
  flex-direction: column;
  height: 30%;
  width: 30%;
  margin: 140px 0px -400px 20px;
  z-index: 2;
  background-color: rgb(255, 187, 0);
}

#profile-pic {
  display: flex;
  justify-content: center;
  width: relative;
  margin-top: 20px;
  z-index: 3;
}

#username {
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro';
  color: #FFFFFF;
  z-index: 4;
  height: fit-content;
  margin-top: -20px;
}


