.timeline {
  overflow-y: scroll;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #545149;;
  margin: 40px 5px 20px 5px;
  color: #545149;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  transition: box-shadow .3s;
}

.timeline:hover .user {
  display: inline;
}

.timeline .user {
  display: none;
}

.timeline:hover {
  box-shadow: 5px 5px 5px rgb(255, 187, 0);
}

.timeline:hover img {
  box-shadow: 5px 5px 5px rgb(255, 187, 0);
}

.timeline-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.user {
  margin: 15px;
  font-size: 20px;
  display: flex;
  justify-self: right;
}

.avatar {
  display: flex;
  justify-self: left;
  margin-bottom: 25px;
  transition: box-shadow .3s;
}

.person {
  margin: 20px;
}

.tweetContent {
  display: flex;
  justify-content: space-between;
  border-bottom: inset #545149;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 15px;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 4em;
}

.footer {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

